/*
The availability element extends the full width of the card, with a dark grey background and yellow text.
*/

/*bold headers*/
h2, h1, .specHeader {
	font-weight: bolder;
}

/* card borders */
.products article {
	border: 1px dotted lightblue;
	display: inline-block;
	width: 30%;
	margin: 0 auto;
	padding: 5px;

}

/* image sizing */
.products article img {
	max-width: 90%;
	display: block;
	margin: 0 auto;
}

/* The title and product image are centered. */
.catName {
	text-align: center;
	font-size: 1.5em;
}

/*Justify descriptions*/
.description {
	text-align: justify;
	padding: 2%;
}

/*availability*/
.avail {
	font-weight: 600;
	text-align: center;
	color: yellow;
	background-color: lightgrey;
}

/*footer styling*/



